<header class="header">
    <div class="logo">
        <img src="https://companieslogo.com/img/orig/KKS.F-9d710a31.png?t=1720244492" alt="Kaspi.kz" />
        <span>Kaspi.kz</span>
    </div>
    <nav id="nav">
        <a href="https://kaspi.kz/shop/c/smartphones%20and%20gadgets/c/clients/c/clients/c/clients/c/partners/c/clients/c/clients/c/partners/c/kaspiguidelink/c/clients/ru">Клиентам</a>
        <a href="https://kaspi.kz/shop/c/smartphones%20and%20gadgets/c/clients/c/clients/c/clients/c/partners/c/clients/c/clients/c/partners/c/kaspiguidelink/c/partners/">Бизнесу</a>
        <a href="https://kaspi.kz/shop/c/smartphones%20and%20gadgets/c/clients/c/clients/c/clients/c/partners/c/clients/c/clients/c/partners/c/kaspiguidelink/c/kaspiguidelink/">Kaspi Гид</a>
    </nav>
</header>
