<div class="category-list">
  <button *ngFor="let category of categories" 
          class="category-item" 
          (click)="selectCategory(category)"
          [ngClass]="{ 'active': selectedCategory === category }">
    {{ category.name }}
  </button>
</div>

<div *ngIf="selectedCategory" class="product-list">
  <div *ngFor="let product of selectedCategory.products" class="product-item">
    <img [src]="product.image" [alt]="product.name">
    <h4>{{ product.name }}</h4>
    <p>{{ product.description }}</p>
  </div>
</div>
